# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/Client
src/Server

# Mac
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
.*.swp
*~

# VS Code
.vscode
.vscode/*

# CLion
.idea
.idea/*

#build
build
build/*

# QT Debug
build-Lobby-Qt6-Debug/
build-Lobby-Qt6-Debug/*

