QWidget {
    border-image: url(:/assets/LobbyImages/Background.png) 0 0 0 0 stretch stretch;
}

QPushButton {
    background-color: transparent;
    border-image: none;
    border: none;
    color: white;
}

QLabel {
    background-color: white;
    border-image: none;
    color: #00A35B;
}

QTreeWidget {
    background-color: white;
    border-image: none;
    color: #00A35B;
}

QGridLayout {
    background-color: white;
    border-image: none;
    color: #00A35B;
}